# ----------------------------------
# Entorno de ejecución
# ----------------------------------
ENVIRONMENT=appenvironment
DEBUG=appdebug

# ----------------------------------
# Base de datos
# ----------------------------------
DB_HOST=hostname
DB_USER=username
DB_PASS=password
DB_NAME=database
DB_PREFIX=prefix
DB_CHARSET=utf8mb4
DB_PORT=3306

# ----------------------------------
# SMTP
# ----------------------------------
SMTP_HOST=smtphost
SMTP_USER=smtpuser
SMTP_PASS=smtppass
SMTP_NAME=smtpname
SMTP_PORT=smtpport
SMTP_SECURE=tls

# ----------------------------------
# Llaves de verificación
# ----------------------------------
APP_ID=appid
APP_KEY=appkey
APP_SECRET=appsecret