<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="es" xml:lang="es" data-theme="light" data-theme-color="default">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Error 500 - Error interno del servidor</title>
<link rel="stylesheet" href="./assets/css/base.css">
<link rel="stylesheet" href="./assets/css/error.css">
</head>
<body class="d-flex justify-content-center align-items-center w-100 vh-100" data-font-family="{$tsThemeFont.family}" data-font-size="{$tsThemeFont.size}">
	
	<section class="error_image_show body-bg rounded shadow position-relative">
	
		<h1 class="text-center position-relative py-4 w-100">ERROR <strong>500</strong></h1>

		<div class="contant_box d-flex justify-content-center align-items-center flex-column py-4">
			<h3 class="h3">Error interno del servidor</h3>
			<p>Lo sentimos, ha ocurrido un error interno en el servidor.</p>
			<a href="./" class="btn">Volver a la página principal</a>
		</div>
	
	</section>

</body>
</html>