*,*::after,*::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	border: transparent;
	outline: transparent;
	background: transparent;
	text-decoration: none;
	color: inherit;
}

:root {
	--rounded: .325rem;
}

body {
	font: normal normal 400 1rem/1.5rem 'Tahoma', sans-serif;
	background: #FFF;
}

main {
	--top-bottom: 0;
	--main-height: calc(var(--top-bottom) * 2);
	--header-height: 3rem;
	--footer-height: 2.875rem;
	margin: var(--top-bottom) auto;
	width: 70%;
	height: 100vh ;
	position: relative;
	header {
		height: var(--header-height);
		display: flex;
		justify-content: start;
		align-items: center;
		font-size: 1.5rem;
		font-weight: 600;
		padding: 0 2rem;
	}
	section {
		height: calc(100vh - calc(var(--header-height) + var(--footer-height)));
		overflow-y: auto;
		.button {
			display: flex;
			justify-content: center;
			align-items: center;
		}
		form {
			margin: 1rem;
			h5 {
				margin: 0;
				padding: 0.875rem;
				font-size: 1.125rem;
				font-weight: 500;
			}
			pre {
				width: calc(100% - 2rem);
				height: calc(100vh / 2 + 4rem);
				padding: 1rem;
				resize: none;
				background: #EEE5;
				border-radius: var(--rounded);
				font-size: 0.785rem;
				overflow-y: auto;
				margin-bottom: 1rem;
			}
		}
	}
	footer {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		text-align: center;
		font-size: 0.875rem;
		height: var(--footer-height);
		line-height: var(--footer-height);
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		padding-inline: 2rem;
		a {
			color: #2789D5;
			background: #D3ECFF;
			display: inline-block;
			padding: 0 1rem;
			height: 1.325rem;
			line-height: 1.325rem;
			font-weight: 600;
			text-transform: capitalize;
			border-radius: 10em;
		}
		p:first-child {
			text-align: left;
		}
		p:last-child {
			text-align: right;
		}
	}
}

input[type="submit"], .buttons a {
	border-radius: var(--rounded);
	height: 2.325rem;
	line-height: 2.325rem;
	padding: 0 2rem;
	font-weight: bold;
	color: #FFF;
	background: #3865C0;
	margin: 0.5rem;
	&:disabled {
		pointer-events: none;
		cursor: no-drop;
		background: #7C90B9;
	}
	&:hover {
		background: #1E51B7;
	}
	&:active {
		background: #19459D;
	}
}

.box {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 1rem;
	width: 60%;
	margin: 15vh auto 1rem auto;
	.error {
		width: 100%;
	}
	p {
		line-height: 2rem;
	}
	.buttons {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		width: 100%;
		padding: 1rem 0;
		a {
			text-align: center;
		}
	}
}
.error {
	text-align: center;
	background-color: #FEDFDF;
	color: #BE1E1E;
	padding: .5rem 0;
}
.agree {
	display: block;
}

.boxes {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;
	.box--infodata {
		padding: 0.5rem;
		border-radius: var(--rounded);
		border: 1px solid var(--color);
		&.box-success {
			--color: #0D7314;
			.box-status {
				background: #E1FDE3;
				color: var(--color);
			}
		}
		&.box-danger {
			--color: #730D0D;
			.box-status {
				background: #FDE1E1;
				color: var(--color);
			}
		}
		.box-header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 0.5rem;
			.box-name {
				font-weight: 600;
			}
			.box-status {
				font-size: 11px;
				display: inline-block;
				font-weight: 500;
				padding: 0 0.5rem;
				border-radius: 10em;
			}
		}
		.box-message {
			font-size: 0.875rem;
			font-style: italic;
		}
	}
}

.form-group	{
	border-bottom: 1px solid #CCC4;
	padding: .875rem 0;
	width: 60%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 240px 1fr;
	place-items: center start;
	position: relative;
	&.last-child {
		border-bottom: 1px solid transparent;
	}
	label {
		display: block;
		width: 100%;
	}
	input, select, .group span {
		width: 100%;
		display: block;
		padding: .5rem 1rem;
		border-radius: .325rem;
		background: #EEE5;
		border: 1px solid #CCC;
		&[disabled] {
			color: #888;
		}
	}
	select {
		padding: .5rem 1rem .5rem .5rem;
	}
	.group {
		display: grid;
		grid-template-columns: 1fr 90px;
		width: 100%;
		input {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			border-right: transparent;
		}
		span {
			display: flex;
			justify-content: center;
			align-items: center;
			font-weight: 600;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			border-left: transparent;
			font-size: 0.75rem;
			background: #EEE9;
			cursor: pointer;
			&:hover {
				background: #eee;
			}
		}
	}
}
.help {
	width: 60%;
	margin: 0 auto;
	display: block;
}
.install-head {
	margin: 1rem auto;
	width: 62%;
	padding: 0.5rem;
	border-radius: var(--rounded);
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #EEE5;
}

.form-group-empty {
	padding: 1rem;
	display: block;
	text-align: center;
	color: #1578B7;
}